.container {
  margin-top: 10px;
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
}

@media screen and (max-width: 445px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
}
